---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import AdjustText from '../components/AdjustText.astro';
import Post from '../components/Post.astro';
import { type PostSummary } from '../models/postSummary';
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  PICKUP_TITLE,
  PICKUP_POSTS,
  LINKS_TITLE,
  LINKS,
} from '../consts';

const posts = await getCollection('posts');
const pickupPosts: PostSummary[] = PICKUP_POSTS.flatMap((slug) => {
  const post = posts.find((p) => p.slug === slug);
  return post
    ? [
        {
          slug: post.slug,
          title: post.data.title,
          description: post.data.description,
          publishedDate: post.data.publishedDate,
          tags: post.data.tags,
        },
      ]
    : [];
});
---

<>
  <BaseLayout description={SITE_DESCRIPTION}>
    <h1 class="title">
      <AdjustText text={SITE_TITLE} />
    </h1>
    <p><AdjustText text={SITE_DESCRIPTION} /></p>
    <h2><AdjustText text={PICKUP_TITLE} /></h2>
    <div>
      {
        pickupPosts.map((post) => (
          <div class="post">
            <Post post={post} />
          </div>
        ))
      }
    </div>
    <h2><AdjustText text={LINKS_TITLE} /></h2>
    <ul class="links">
      {
        LINKS.map((link) => (
          <li>
            <a
              class="link external-link"
              target="_blank"
              rel="noopener"
              href={link.url}
            >
              <AdjustText text={link.name} />
            </a>
          </li>
        ))
      }
    </ul>
  </BaseLayout>
</>

<style lang="scss">
  .title {
    font: typography.$font-headline-large;
    margin-top: 24px;
  }

  .post:not(:first-child) {
    margin-top: 24px;
  }

  .links {
    margin: 0 -12px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    .link {
      margin-right: 12px;
    }
  }
</style>
