---
import AdjustText from './AdjustText.astro';
import FormattedDate from './FormattedDate.astro';
import { type ContentSummary } from '../models/contentSummary';
import { TITLE_SEPARATOR, TAG_PREFIX, PLATFORM_PREFIX } from '../consts';

type Props = {
  content: ContentSummary;
};

const { content } = Astro.props;
---

<>
  <div class="title">
    {
      content.platform ? (
        <a target="_blank" rel="nofollow noopener" href={content.url}>
          <AdjustText
            text={`${content.title}${TITLE_SEPARATOR}${content.platform.name}`}
          />
        </a>
      ) : (
        <a href={content.url}>
          <AdjustText text={content.title} />
        </a>
      )
    }
  </div>
  <div class="description">
    <AdjustText text={content.description} />
  </div>
  <ul class="supplement">
    <li class="date">
      <FormattedDate date={content.publishedDate} />
    </li>
    {
      content.platform && (
        <li class="platform">
          <a
            target="_blank"
            rel="nofollow noopener"
            href={`${content.platform.url}/`}
          >
            <AdjustText text={`${PLATFORM_PREFIX}${content.platform.name}`} />
          </a>
        </li>
      )
    }
    {
      content.tags &&
        content.tags.map((tag) => (
          <li class="tag">
            <a href={`/tags/${tag.id}/`}>
              <AdjustText text={`${TAG_PREFIX}${tag.name}`} />
            </a>
          </li>
        ))
    }
  </ul>
</>

<style lang="scss">
  .title {
    font: typography.$font-title-large;

    a {
      text-decoration: none;

      @media (hover: hover) {
        &:hover {
          text-decoration: underline 8%;
        }
      }

      &:active {
        text-decoration: underline 8%;
      }
    }
  }

  .description {
    font: typography.$font-body-small;
    color: colors.$color-on-background-variant;
    margin-top: 4px;
  }

  .supplement {
    margin: 0 -8px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    .date {
      font: typography.$font-body-small;
      margin-right: 12px;
      color: colors.$color-on-background-variant;
    }

    .platform {
      font: typography.$font-body-small;
      margin-right: 12px;
      color: colors.$color-on-background-variant;
    }

    .tag {
      font: typography.$font-body-small;
      margin-right: 8px;
    }

    a {
      color: colors.$color-on-background-variant;
      text-decoration: none;
      border-radius: 2px;

      @media (hover: hover) {
        &:hover {
          color: colors.$color-link;
          outline: 1px dashed;
        }
      }

      &:active {
        color: colors.$color-link;
        outline: 1px solid;
      }
    }
  }
</style>
