---
import AdjustText from './AdjustText.astro';
import Contents from './Contents.astro';
import Pagination from './Pagination.astro';
import { type ContentSummary } from '../models/contentSummary';

type Props = {
  title: string;
  contents: ContentSummary[];
  page: number;
  pageLength: number;
  baseUrl: string;
};

const { title, contents, page, pageLength, baseUrl } = Astro.props;
---

<>
  <h1><AdjustText text={title} /></h1>
  <Contents contents={contents} />
  <Pagination current={page} pageLength={pageLength} baseUrl={baseUrl} />
</>
