---
import AdjustText from './AdjustText.astro';
import Posts from './Posts.astro';
import Pagination from './Pagination.astro';
import { type PostSummary } from '../models/postSummary';
import { type QiitaPostSummary } from '../models/qiitaPostSummary';

type Props = {
  title: string;
  posts: (PostSummary | QiitaPostSummary)[];
  page: number;
  pageLength: number;
  baseUrl: string;
};

const { title, posts, page, pageLength, baseUrl } = Astro.props;
---

<>
  <h1><AdjustText text={title} /></h1>
  <Posts posts={posts} />
  <Pagination current={page} pageLength={pageLength} baseUrl={baseUrl} />
</>
