---
import AdjustText from './AdjustText.astro';
import FormattedDate from './FormattedDate.astro';
import { type PostSummary } from '../models/postSummary';
import { type ExternalPostSummary } from '../models/externalPostSummary';
import { TAG_PREFIX, PLATFORM_PREFIX } from '../consts';

type Props = {
  post: PostSummary | ExternalPostSummary;
};

const { post } = Astro.props;
---

<>
  <div class="title">
    {
      'slug' in post ? (
        <a href={`/posts/${post.slug}/`}>
          <AdjustText text={post.title} />
        </a>
      ) : (
        <a
          class="external-link"
          target="_blank"
          rel="noopener"
          href={`${post.url}/`}
        >
          <AdjustText text={post.title} />
        </a>
      )
    }
  </div>
  <div class="description">
    <AdjustText text={post.description} />
  </div>
  <ul class="supplement">
    <li class="date">
      <FormattedDate date={post.publishedDate} />
    </li>
    {
      'platform' in post && (
        <li class="platform">
          <a target="_blank" rel="noopener" href={`${post.platform.url}/`}>
            <AdjustText text={`${PLATFORM_PREFIX}${post.platform.name}`} />
          </a>
        </li>
      )
    }
    {
      post.tags &&
        post.tags.map((tag) => (
          <li class="tag">
            <a href={`/tags/${tag.id}/`}>
              <AdjustText text={`${TAG_PREFIX}${tag.name}`} />
            </a>
          </li>
        ))
    }
  </ul>
</>

<style lang="scss">
  .title {
    font: typography.$font-title-large;

    a {
      text-decoration: none;

      @media (hover: hover) {
        &:hover {
          text-decoration: underline 8%;
        }
      }

      &:active {
        text-decoration: underline 8%;
      }
    }
  }

  .description {
    font: typography.$font-body-small;
    color: colors.$color-on-background-variant;
    margin-top: 4px;
  }

  .supplement {
    margin: 0 -8px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    .date {
      font: typography.$font-body-small;
      margin-right: 12px;
      color: colors.$color-on-background-variant;
    }

    .platform {
      font: typography.$font-body-small;
      margin-right: 12px;
      color: colors.$color-on-background-variant;

      a {
        color: colors.$color-on-background-variant;
        text-decoration: none;
        border-radius: 2px;

        &::after {
          content: '';
          display: inline-block;
          margin: 0 0.125em;
          width: 0.5em;
          height: 1em;
          background-color: colors.$color-on-background-variant;
          mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path fill='none' stroke='black' stroke-linejoin='round' stroke-width='1.5' d='M3 1H1v6h6V5M7 4V1H4M7 1 3.5 4.5'/></svg>")
            top/contain no-repeat;
        }

        @media (hover: hover) {
          &:hover {
            color: colors.$color-link;
            outline: 1px dashed;

            &::after {
              background-color: colors.$color-link;
            }
          }
        }

        &:active {
          color: colors.$color-link;
          outline: 1px solid;

          &::after {
            background-color: colors.$color-link;
          }
        }
      }
    }

    .tag {
      font: typography.$font-body-small;
      margin-right: 8px;

      a {
        color: colors.$color-on-background-variant;
        text-decoration: none;
        border-radius: 2px;

        @media (hover: hover) {
          &:hover {
            color: colors.$color-link;
            outline: 1px dashed;
          }
        }

        &:active {
          color: colors.$color-link;
          outline: 1px solid;
        }
      }
    }
  }
</style>
